block footer_nav
	nav.footer
		ul.list.horizontal
			li.item
				a About
			li.item
				a(href="https://github.com/Aotik/slant", target="_blank") Github
			li.item.float-right
				a(href="https://twitter.com/aotik", target="_blank") Developed by #[strong cindr.io]
