extends ../layout

block content
	.wrapper
		.contain
			.search(class=typeof search === "undefined" ? "" : "show")
				h1.sl-title
					img(src="/images/logo.svg")
				h4 Find a movie by searching by title or IMDB ID
				.input.lg
					input.content(type="text")
					a.go #[i.material-icons search]
				.selection
					.select.selected(data-select="title") Movie title
					.splitter |
					.select(data-select="imdbid") IMDB ID
			#results
				.within
				include ../modules/header_nav.pug
				include ../modules/footer_nav.pug
			#result
				.within
				include ../modules/header_nav.pug
				include ../modules/footer_nav.pug
